<!--
  Generated template for the FeedbackCanteenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton color="primary">
    <ion-title>Feedback</ion-title>
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>



  </ion-navbar>

</ion-header>



<ion-content padding class="arriere">
  
        <ion-card class="mycard" *ngFor="let p of products">
          
            <ion-card-header class="myCardHeader">
                {{p.name}}
            </ion-card-header>
        
            <ion-card-content class="mycontent" >
              <ion-row justify-content-center>
                  
                <img src="assets/imgs/star-jaune.png" alt="star" class="star" *ngIf="p.moyennefeed>=0.75">
                <img src="assets/imgs/star-jaune.png" alt="star" class="star" *ngIf="p.moyennefeed>=1.75">
                <img src="assets/imgs/star-jaune.png" alt="star" class="star" *ngIf="p.moyennefeed>=2.75">
                <img src="assets/imgs/star-jaune.png" alt="star" class="star" *ngIf="p.moyennefeed>=3.75">
                <img src="assets/imgs/star-jaune.png" alt="star" class="starend" *ngIf="p.moyennefeed>=4.75">

                <img src="assets/imgs/star-jaune-moy.png" alt="star" class="star" *ngIf="p.moyennefeed>=0.25 && p.moyennefeed<0.75">
                <img src="assets/imgs/star-jaune-moy.png" alt="star" class="star" *ngIf="p.moyennefeed>=1.25 && p.moyennefeed<1.75">
                <img src="assets/imgs/star-jaune-moy.png" alt="star" class="star" *ngIf="p.moyennefeed>=2.25 && p.moyennefeed<2.75">
                <img src="assets/imgs/star-jaune-moy.png" alt="star" class="star" *ngIf="p.moyennefeed>=3.25 && p.moyennefeed<3.75">
                <img src="assets/imgs/star-jaune-moy.png" alt="star" class="starend" *ngIf="p.moyennefeed>=4.25 && p.moyennefeed<4.75">


                <img src="assets/imgs/star-gris.png" alt="star" class="star" *ngIf="p.moyennefeed<0.25">
                <img src="assets/imgs/star-gris.png" alt="star" class="star" *ngIf="p.moyennefeed<1.25">
                <img src="assets/imgs/star-gris.png" alt="star" class="star" *ngIf="p.moyennefeed<2.25">
                <img src="assets/imgs/star-gris.png" alt="star" class="star"  *ngIf="p.moyennefeed<3.25">
                <img src="assets/imgs/star-gris.png" alt="star" class="starend" *ngIf="p.moyennefeed<4.25">
                
            </ion-row> 
                   
              <ion-row justify-content-center class="centr action-sheets-basic-page " >
                    <button ion-button icon-left clear small class="butt" (click)="openMenu(p,'cafeteria')">
                            <ion-icon name="text"></ion-icon>
                            <div ><span *ngIf="p.feedbacks">{{p.feedbacks.length}}</span><span *ngIf="p.feedbacks== null">0</span> COMMENTAIRE</div>
                          </button>
                    <!button (click)="openMenu()" class="butt" block><!/button>
                
              </ion-row>
            
            </ion-card-content>
          
        
          
          </ion-card>
    
          
    </ion-content>